body .challenges-inline-style-1 {
    width: 100%; margin-top: 14px;
}
body .challenges-inline-style-2 {
    margin-top: 10px;
}
body .challenges-inline-style-3 {
    margin-top: 18px;
}
body .challenges-inline-style-4 {
    margin-top: 18px; display: none;
}
body .challenges-inline-style-5 {
    margin-top: 12px;
}
body .challenges-inline-style-6 {
    margin-top: 14px;
}
body .challenges-inline-style-7 {
    margin-top: 16px;
}
body .challenges-inline-style-8 {
    margin-top: 16px;
}
