body .index-inline-style-1 {
    --h:34%
}
body .index-inline-style-2 {
    --h:52%
}
body .index-inline-style-3 {
    --h:44%
}
body .index-inline-style-4 {
    --h:72%
}
body .index-inline-style-5 {
    --h:88%
}
