body .profile-inline-style-1 {
    font-size: 52px;
}
body .profile-inline-style-2 {
    margin-bottom: 24px;
}
body .profile-inline-style-3 {
    margin-top: 14px;
}
body .profile-inline-style-4 {
    margin-top: 18px; width: 100%;
}
body .profile-inline-style-5 {
    grid-column: span 2;
}
body .profile-inline-style-6 {
    flex: 1;
}
body .profile-inline-style-7 {
    font-size: 32px;
}
body .profile-inline-style-8 {
    margin-top: 18px; width: 100%;
}
body .profile-inline-style-9 {
    margin-top: 10px; width: 100%;
}
body .profile-inline-style-10 {
    margin-top: 10px; width: 100%;
}
body .profile-inline-style-11 {
    grid-column: 1 / -1;
}
body .profile-inline-style-12 {
    margin-top: 12px;
}
body .profile-inline-style-13 {
    grid-column: 1 / -1;
}
